<div class="row">
  <div class="col-xl-1">
  </div>
  <div class="col-xl-10">
    <h1 style="color:lightskyblue;">To-Do List</h1>
  </div>
  <div class="col-xl-1">
  </div>
</div>
<form class="row" style="padding-top: 2rem; margin: 0; padding-bottom: 3rem;">
  <div class="col-xl-1">
  </div>
  <div class="col-xl-10" style="box-shadow: 0 0 20px rgb(0 0 0 / 10%); padding: 0; background-color: white; height: 125px;">
    <div style="border: 1px solid #c6d2d9;">
      <input type="text" name="title" placeholder="Title" style="width: calc(100% - 110px); height: 50px; background-color: white; padding: 7px; border: none;">
      <button (click)="add()" style="width: 100px; background: lightskyblue; color: white; border-radius: 5px; border: none; height: 40px;">Submit</button>
    </div>
    <div>
      <textarea type="text" name="description" placeholder="Description"style="width: 100%; height: 75px; background-color: white; border: 1px solid #c6d2d9; padding: 7px;"></textarea>
    </div>
  </div>
  <div class="col-xl-1">
  </div>
</form>

<form *ngFor="let td of todo" class="row" style="padding-top: 2rem; margin: 0;">
  <div class="col-xl-1">
  </div>
  <div class="col-xl-10" style="box-shadow: 0 0 20px rgb(0 0 0 / 10%); padding: 0;">
    <div style="width: 100%; height: 40px; background-color: #e4eaee; border: 1px solid #c6d2d9; font-size: medium; padding: 5px;">
      <label style="width: calc(100% - 80px);">{{td.Title}}</label>
      <input type="hidden" value="{{td.Title}}" name="title">
      <input type="hidden" value="{{td.Description}}" name="description">
      <button type="submit" value="Delete" style="width: 100px; background: lightcoral; color: white; border-radius: 5px; border: none; height: 30px; width: 70px;">Delete</button>
    </div>
    <div style="width: 100%; height: 85px; background-color: white; border: 1px solid #c6d2d9; border-bottom: 5px solid #c6d2d9; padding: 5px;">
      {{td.Description}}
    </div>
  </div>
  <div class="col-xl-1">
  </div>
</form>

<script>
    noteTable = document.querySelector("table")
    fetch("/")
    .then(response => response.json())
    .then(noteList => {
        noteList.forEach(note => {
        row = document.createElement("tr")

        title = document.createElement("td")
        title.innerHTML = note.title
        description = document.createElement("td")
        description.innerHTML = note.description

        row.appendChild(title)
        row.appendChild(description)
        noteTable.appendChild(row)
        })
    })
</script>
